.home-outer{
    display: flex;
    flex-direction: column;
    margin-top: 0;
    
}

.btn{
    display: flex;
    flex-direction: row;
    margin: 1rem auto;
    justify-content: center;
    width: 9rem;
    height: 3rem;
    border: 1px solid red;
    background-color: white;
}

.btn-text{
    font-size: 2rem;
}

p{
    margin: 0;
    padding-top: .2rem;
}

.intro{
    margin-top: 1rem;
}

.buttons{
    margin: 2rem;
}

h1{
    margin: .5rem 0;
}
  
h2{
    margin: .5rem 0;
}
  
  