body{
    background-color: linen;
}

.outer-box{
    background-color: lightblue;
    display: flex;
    flex-direction: row;
    height: 30rem;
}

.left-panel{
    width: 50%;
}

.right-panel{
    width: 50%;
}

.maptitle{
    margin: 2rem;
}
